<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or "Ben McAvoy's Portfolio" }}</title>
    <meta name="description" content="A basic website for Lighthouse testing.">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://benmcavoy.uk/">
    <meta property="og:title" content="My portfolio">
    <meta property="og:description" content="My portfolio website showcasing my projects and skills.">
    <meta property="og:image" content="https://benmcavoy.uk/image.jpg"> <!-- TODO -->

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://benmcavoy.uk/">
    <meta property="twitter:title" content="My portfolio">
    <meta property="twitter:description" content="My portfolio website showcasing my projects and skills.">
    <meta property="twitter:image" content="https://benmcavoy.uk/image.jpg"> <!-- TODO -->
    
    <!-- Canonical URL -->
    <link rel="canonical" href="https://benmcavoy.uk/">
    
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <!-- External CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <!-- Font -->
    <link preload rel="preconnect" href="https://fonts.googleapis.com">
    <link preload rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link preload href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

    <!-- Lucide Icons -->
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>

    {% block head_extra %}{% endblock %}
</head>
<body>
    {% include 'fragments/header.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'fragments/footer.html' %}

    {% block scripts %}
    <script defer src="{{ url_for('static', filename='spa.js') }}"></script>
    <script>
        // Initialize Lucide icons
        lucide.createIcons();
    </script>
    <script>
        // NOTE: remove this script in production
        (function() {
            var script = document.createElement('script');
            script.src = 'http://localhost:35729/livereload.js?snipver=1';
            script.async = true;
            document.head.appendChild(script);
        })();
    </script>
    {% endblock %}
</body>
</html>

